.Home {
  box-sizing: border-box;
  padding: 20px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #eaf6fd, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.Home > *:not(:last-child) {
  margin-bottom: 40px;
}

.HomeItemList {
  width: 100%;
  max-width: 1200px;
}
