.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a,
.navbar button {
  text-decoration: none;
  color: #333;
  font-weight: 600; 
  margin: 0 20px;
  font-size: 1.1em;
  background: none;
  transition: color 0.3s;
  font-family: 'Segoe UI', 'Pretendard', 'Noto Sans KR', sans-serif; 
  letter-spacing: 0.5px; 
  border: none; 
  cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
  color: #007bff;
  background: none;
}

.navbar-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
